<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="Scripts/jquery-3.4.1.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/App/script.js"></script>
    <style>
        td.sub-header{
            font-weight: bold;
        }
    </style>
</head>
<body ng-controller="mainController">
    <table border="1" style="border-collapse:collapse">
        <thead>
            <tr>
                <th colspan="3">All Pizzas ({{Pizzas.length}})</th>
                <th>All Toppings ({{Toppings.length}})</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="sub-header" colspan="3">List</td>
                <td class="sub-header"></td>
            </tr>
            <tr>
                <td>
                    <select ng-model="SelectedPizzaName" ng-change="PizzaSelected()">
                        <option ng-repeat="p in Pizzas" value="{{p.Name}}">{{p.Name}}</option>
                    </select>
                </td>
                <td>
                    <select ng-model="SelectedToppingName" multiple>
                        <option ng-repeat="t in PizzaToppings" value="{{t.Name}}">{{t.Name}}</option>
                    </select>
                </td>
                <td>
                    <input type="button" ng-click="DeleteToppingFromPizza()" />
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
